.page__index-new_ab-news .kotlin-news-section-news__item,
.page__index-new_ab-news .kotlin-news-section-news__item:any-link {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;

  flex: none;

  min-height: 138px;
  padding: 0 0 17px;
  width: 22%;
}

.page__index-new_ab-news .kotlin-news-section-news__item:hover,
.page__index-new_ab-news .kotlin-news-section-news__item:active {
  border-bottom-color: #fff;
}

.page__index-new_ab-news .kotlin-jump-section__wrapper {
  border: none;
  background: #323232;
  padding: 24px 20px;
}

.page__index-new_ab-news .kotlin-news-section-news__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.page__index-new_ab-news .kotlin-news-section-news__tag_external::after {
  display: none;
}
